		html, body { margin: 0; padding: 0; background-color:black;}
		body { padding-bottom: 20px; text-align: center; font-size: 16px; line-height:1.3;}
		
		#container {
			text-align: left;
			margin: 0 auto;
			width: 1000px;
		}

		#header {
			color: white;
			background-image:url("beethoven-background.jpg");
			background-position:right;
			background-repeat: no-repeat;
			background-color:black;
		}
		#sidebar {
			border: 1px solid black;
			width: 100%;
			display: inline; /* floats are handled as block elements, this is to fix 
							   a margin collapsing bug in IE */
		}
		#content {
			background-color:white;
			padding: 20px;
		}
		#footer {
			background-color:white;
			border: 1px solid black;
		}
		
		h1, h2 {
		display: inline;
		font-size:1.2em;
		}
		
		img.pullout {
		width:120px;
		float:right;
		padding:5px;
		
		}
		
		p.topcontent {
		margin 5px;
		vertical-align:middle;
		}
		
		blockquote, p.topcontent {
		text-align:left;
		}


thead th {
   background-color:#bfb;
   text-align:center;
}

th, td {
  border: thin gray dotted;
  padding: 0.5em;
}