body { margin: 0; font-size: 16px; line-height: 1.25; }

div#main dd, div#main dt{ line-height:1.4;}

h2 {margin:0; padding: 0;}

#container {
    width:65em;
    margin:1em auto;
    border: 1px solid grey;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -o-border-radius: 1em;
    -ms-border-radius: 1em;
    border-radius: 1em;
} 

header {
    margin: 1.75em 1.3em; 
    height:4.4em;
    border-bottom: none;
}

header div {
    float: left;   
}
    


nav {
    height:4.4em;
    padding-top:1.45em;
}

    
nav ul li {
    display: block;
    float:left;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;   
    padding-right:2.5em;
}

nav ul li a {
    text-decoration: none;    
    font-size:0.75em;    
    display: block;
    color: #545454;
    letter-spacing: 1px;
}

nav ul li a em {
   display: block;
   font-size: 75%;
   text-transform: none;
   font-style: normal;
   font-weight: normal;
   margin-top:0.25em;
    
}  



cite a {
    font-style:normal;   
}

div.box-out {
    /*margin: 0 3%;*/
}

dt {
    height:auto;
}

footer {
    border-top: none;
}

.right-arrow {
    background-image:url("../img/chevron.gif");
	background-position:right;
	background-repeat: no-repeat;
    width:10.5em;
}

.right-arrow:hover { color:#000;}

.down-arrow {
    background-image:url("../img/chevron.gif");
    background-position:right;
	background-repeat: no-repeat;
    width:10.5em;
}

.down-arrow:hover { color:#000;}