#container {
    width: auto;   
}

h2 {
    font-weight:normal;
}
header div {
    width:28em; 
}

header p {
    display:block;   
}
    
div#main {
    margin:0;
}

.smaller-text {
    font-size:0.9em;
    padding-left:0.8em;
}

div#top-content {
    padding-left:4.5em;
    border:none;
}

div#bottom-content {
    clear:both;
    margin: 0;
    padding:1.25em 0 3em 4.5em;
}

nav { float:right; margin-left: 3.5em;}

img.pullout-image {
    float:right;
    margin-right: 5.6em;
}

div#main p, div#main dt, div#main dd {
    width: 30em;    
}


div#main dt, div#main dd {
    width: auto;    
    line-height: 1.25;
}

dl div {
    float: left;
    width: 29%;
    margin: 0 auto;
    padding: 1em;
}

dd {
    margin: 0 0 1.5em 0;
}

dt {
    padding-bottom:0.5em;
}

div.box-out {
    background: #FFF;   
}

div.box-out dl {
    -moz-border-radius:2em;
    -o-border-radius:2em;
    -webkit-border-radius:2em;
    -ms-border-radius:2em;
     border-radius: 2em;
     background: #FFF;
     background-color: rgba(86, 86, 86, 0.1);
     margin-right:1.3em;
}

div.center {
    margin: 1.25em 0;
    border: none;
}


header p {
    margin: 0 0 0 2.8em;
    font-size: 1.25em;
    font-weight:normal;
}

h1 {
    margin: 0 0 0 2.8em;
    padding:0;
    display:inline;
    font-size:1.25em;
    font-weight:normal;
    }

 
footer nav {
    padding-top:0.75em;
}

footer p {
    padding-left:0.5em;
    padding-top: 1.25em;
}

footer nav ul li{
    width: auto;
    padding-bottom:0;
}


@media all and (min-width: 720px) {
  body { margin: 0; font-size: 13px; line-height: 1.25; }
}
    
@media all and (min-width: 900px) {
  body { margin: 0; font-size: 16px; line-height: 1.25; }
}